.social-network-logo a:hover {
    color: gray;
}

.social-network-logo a {
    padding-right: 10px;
    text-decoration: none;
    color: black;
}

.footer-logos {
    margin: auto;
}

.footer-logo {
    width: 5rem;
    height: 5rem;
}

.info-footer {
    gap: 8rem;
}

@media (max-width: 990px) {
    .info-footer {
        gap: 6rem;
    }
}

@media (max-width: 770px) {
    .info-footer {
        gap: 2rem;
    }

    .footer-content {
        flex-direction: column;
    }
}