.redsocial-logo a:hover {
    color: gray;
}

.redsocial-logo a {
    padding-right: 10px;
    text-decoration: none;
    color: black;
}

.footer-logo {
    margin-left: 1rem;
    width: 5rem;
    height: 5rem;
}

.info-footer {
    gap: 8rem;
}

@media (max-width: 990px) {
    .info-footer {
        gap: 6rem;
    }
}

@media (max-width: 770px) {
    .info-footer {
        gap: 2rem;
    }
}