.social-networks a:hover {
    color: gray;
}

.social-networks a {
    padding-right: 10px;
    text-decoration: none;
    color: black;
    font-size: 25px;
    transition: 0.2s;
}

.footer-logo {
    width: auto;
    height: 5rem;
    margin-right: 10px;
}

.info-footer {
    gap: 8rem;
}

.footer-text {
    font-family: "Angkor", serif;
}

.devpost-icon {
    filter: grayscale(100%);
    margin-top: -5px;
    width: 25px;
    height: 25px;
    transition: 0.2s;
}

.devpost-icon:hover {
    opacity: 50%;
}

.copyright-text {
    font-size: 13px;
}

@media (max-width: 990px) {
    .info-footer {
        gap: 6rem;
    }
}

@media (max-width: 770px) {
    .info-footer {
        gap: 2rem;
    }

    .footer-content {
        flex-direction: column;
    }
}